# Created by .ignore support plugin (hsz.mobi)
.gitignore
platforms/android/build/generated/assets/
platforms/android/build/generated/res/
platforms/android/build/generated/source/aidl/
platforms/android/build/generated/source/rs/
platforms/android/build/intermediates/bundles/
platforms/android/build/intermediates/exploded-aar/AlertMeJS/runtime/unspecified/aidl/
platforms/android/build/intermediates/exploded-aar/AlertMeJS/runtime/unspecified/assets/
platforms/android/build/intermediates/exploded-aar/AlertMeJS/runtime/unspecified/libs/
platforms/android/build/intermediates/exploded-aar/AlertMeJS/runtime/unspecified/res/
platforms/android/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/aidl/
platforms/android/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/assets/
platforms/android/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/jni/
platforms/android/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/libs/
platforms/android/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/res/
platforms/android/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/aidl/
platforms/android/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/assets/
platforms/android/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/jni/
platforms/android/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/libs/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/assets/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/jni/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/libs/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/res/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/aidl/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/assets/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/jni/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/libs/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/res/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/aidl/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/assets/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/jni/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/libs/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/res/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/aidl/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/assets/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/jni/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/libs/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/res/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/assets/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/jni/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/libs/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/res/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/aidl/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/assets/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/jni/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/libs/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/res/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/aidl/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/assets/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/jni/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/libs/
platforms/android/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/res/
platforms/android/build/intermediates/exploded-aar/widgets-release/aidl/
platforms/android/build/intermediates/exploded-aar/widgets-release/assets/
platforms/android/build/intermediates/exploded-aar/widgets-release/jni/
platforms/android/build/intermediates/exploded-aar/widgets-release/libs/
platforms/android/build/intermediates/exploded-aar/widgets-release/res/
platforms/android/build/intermediates/rs/
platforms/android/build/intermediates/shaders/
platforms/android/libs/aar/
platforms/android/metadata/
platforms/android/src/main/assets/app/tns_modules/ios/
platforms/ios/AlertMeJS/app/tns_modules/ios/
src/js/
